* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
.container {
  max-width: 1400px;
}
/* navbar bianca fixed */
#top-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
}
.top-header {
  height: 70px;
  font-size: 0.7em;
}
/* box relative per positionamento */
.box-center{
  height: 100%;
  position: relative;
}
/* posizionamento centrato verticale e orizzontale */
.item-center{
  position:absolute;
  top: 50%;
  left:50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin:0;
}
/* posizionamento centrato verticale ma sulla destra */
.item-center-right{
  margin: 0;
  position: absolute;
  top: 50%;
  right:0;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* posizionamento centrato verticale ma sulla sinistra */
.item-center-left{
  margin: 0;
  position: absolute;
  top: 50%;
  left:0;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.top-header [class*='col-']{
  height: 100%;
}
.box-logo{
  width: 120px;
}
.top-header [class*='col-'] nav ul{
  text-align: right;
  vertical-align: middle;
}
.top-header [class*='col-'] nav ul li{
  display: inline-block;
  text-align: center;
  padding: 0 1em;
}

.top-header [class*='col-'] nav ul li a{
  text-decoration: none;
  color: black;
}
.my-language-bar nav ul li:not(:last-child) {
  border-right: 1px solid black
}
/* immagine sfondo del header bottom */
header#bottom-header{
  background-image:url(../img/bg-top.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
}
div.bottom-header,
div.bottom-header>[class*='col-']{
  height:100%;
  color: white;
  text-align: center;
}
div.bottom-header>[class*='col-'] img{
  height: 4em;
  padding: 0.3em;
}
div.bottom-header>[class*='col-'] .item-center{
  width: 80%;
}
div.bottom-header>[class*='col-'] .item-center h1{
  font-size: 3em;
  margin: 15px 0;
}
div.bottom-header>[class*='col-'] .item-center p{
  margin-bottom: 15px;
}
div.main-selection{
  margin: 30px auto;
}
div.box-main{
  text-align: center;
}
div.img-main img{
  width: 80%;
}
div.main-selection > div > .box-main {
  background-color: #FAFAFA;
  margin: 15px;
}
.box-main> h2{
  font-size: 2em;
  padding-top: 50px;
  margin-bottom: 30px;
}
.box-main> h3{
  margin-bottom: 25px;
}

.iphone-section{
  height: 750px;
  position: relative;
  text-align: center;
}
.iphone-section>.top-iphone{
  background-image:url(../img/cantieri.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 500px;

}
.iphone-section>.bottom-iphone{
  height: 250px;
}
.iphone-section>.bottom-iphone>[class*='col-']{
  height:100%;
  text-align: left;
}
.iphone-section .box-iphone-frame{
    margin: 0;
    position: absolute;
    top: 0;
    left:50%;
    transform: translate(-50%,-50%);
    background-image: url(../img/boolean-mobile.jpg);
    background-size: contain;
    border-radius: 15%;

}
.iphone-section .box-iphone-frame>img{
  height: 400px;
}
.smart-section>[class*='col-']{
  height:400px;
}

.smart-section>[class*='col-']:first-child>.container{
  background-color: green;
  margin: 15px;
  height: calc(100% - 30px);
}
.smart-section>[class*='col-']:nth-child(2) .box-main{
  background-color: blue;
  width: 95%;
  height: 90%;
}
.smart-section>[class*='col-']:nth-child(3) .box-main{
  background-color: purple;
  width: 95%;
  height: 90%;
}
/* DEBUG */
.debug .container,
.debug [class*='col-'] {
  border: 1px solid black;
}
@media all and (min-width: 768px) and (max-width: 992px){
  body{
    font-size: 13px;
  }
  header#bottom-header{

    height: 450px;
  }
  .box-logo{
    width: 100px;
  }
  div.bottom-header>[class*='col-'] .item-center h1{
    font-size: 2.5em;
  }
}
@media all and (max-width: 768px) {
  body{
    font-size: 13px;
  }
  header#bottom-header{

    height: 450px;
  }
  .box-logo{
    width: 80px;
  }
  div.bottom-header>[class*='col-'] .item-center h1{
    font-size: 2.5em;
  }
  div.img-main img{
    width: 60%;
  }

}
