* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
.container {
  max-width: 1400px;
}

.top-header {
  height: 70px;
  font-size: 0.7em;
}
.box-center{
  height: 100%;
  position: relative;
}
.item-center{
  position:absolute;
  top: 50%;
  left:50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin:0;
}
.item-center-right{
  margin: 0;
  position: absolute;
  top: 50%;
  right:0;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.item-center-left{
  margin: 0;
  position: absolute;
  top: 50%;
  left:0;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.top-header [class*='col-']{
  height: 100%;
}
.box-logo{
  width: 120px;
}
.top-header [class*='col-'] nav ul{
  text-align: right;
  vertical-align: middle;
}
.top-header [class*='col-'] nav ul li{
  display: inline-block;
  text-align: center;
  padding: 0 1em;
}

.top-header [class*='col-'] nav ul li a{
  text-decoration: none;
  color: black;
}
.my-language-bar nav ul li:not(:last-child) {
  border-right: 1px solid black
}
header#bottom-header{
  background-image:url(../img/bg-top.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
}
div.bottom-header,
div.bottom-header>[class*='col-']{
  height:100%;
  color: white;
  text-align: center;
}
div.bottom-header>[class*='col-'] img{
  height: 4em;
  padding: 0.3em;
}
div.bottom-header>[class*='col-'] .item-center{
  width: 80%;
}
div.bottom-header>[class*='col-'] .item-center h1{
  font-size: 3em;
  margin: 15px 0;
}
div.bottom-header>[class*='col-'] .item-center p{
  margin-bottom: 15px;
}
/* DEBUG */
/* .debug .container,
.debug [class*='col-'] {
  border: 1px solid black;
} */
@media all and (min-width: 768px) and (max-width: 992px){
  body{
    font-size: 13px;
  }
  header#bottom-header{

    height: 450px;
  }
  .box-logo{
    width: 100px;
  }
}
@media all and (max-width: 768px) {
  body{
    font-size: 10px;
  }
  header#bottom-header{

    height: 300px;
  }
  .box-logo{
    width: 80px;
  }
}
